<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Date</th>
      <th>Morning Duty</th>
      <th>Free</th>
      <th>Evening Duty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>02.10.2023</td>
      <td>user1</td>
      <td>user2,user3,user4</td>
      <td>user5</td>
    </tr>
    <tr>
      <td>03.10.2023</td>
      <td>user2</td>
      <td>user1,user3,user4</td>
      <td>user6</td>
    </tr>
    <tr>
      <td>03.10.2023</td>
      <td>user2</td>
      <td>user1,user3,user4</td>
      <td>user6</td>
    </tr>
  </tbody>
</table>